@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

#attendance-messages {
    height: 300px;
    width: 500px;
    background-color: beige;
    overflow: scroll;
}